@media (max-width: 1199px) {

.search__block {
  gap: 20px;
  padding: 35px 25px 25px;
  flex-wrap: wrap;
}

.search__filters {
  flex-wrap: wrap;
  flex-grow: 2;
  gap: 20px 30px;
}

.filter {
  flex: 1 0 calc(50% - 20px);
  padding: 32px 25px;
}

.filter__item {
  flex: 1 1 calc(33%);
  gap: 6px;
}

.filter__subtopic {
  font-size: 16px;
}

.filter__input {
  font-size: 22px;
}

.search__btn {
  flex: 1 1 80px;
  flex-grow: 1;
  width: 80px;
  height: 80px;
  background-size: 36px 40px;
}

.filter-date {
  gap: 20px 29px;
}

.offers__cards {
  margin: 0 auto;
  gap: 20px;
}

.tour {
  padding: 20px;
}
}

@media (max-width: 1100px) {

  .offers__cards{
    max-width: 850px;
  }
  .tour {
  flex: 0 1 calc((100% - 20px)/2);
  padding: 20px;
}

.tour__top {
  flex-direction: column;
}

.tour__start-date {
  writing-mode:  horizontal-tb;
}
.place {
 flex: 0 1 calc((100% - 40px)/3);
}
}

@media (max-width: 999px) {
  .intro__container {
    padding: 0 30px ;
  }

@media (max-width: 767px) {

  .header {
    height: 60px;
    padding: 15px 0;
}

.container {
  padding: 0 25px;
}

  .menu {
    position: fixed;
    top: 35px;
    right: 0;
  }

  .menu__items {
    position: absolute;
    height: 200px;
    top: 40px;
    right: 0;
    padding: 30px;
    border-radius: 20px 0 0 20px;
    background-color: rgba(41, 71, 117, 1);

    display: flex;
    flex-direction: column;

    scale: 0;
    overflow: auto;
  }


  .menu__items.active {
    scale: 1;
  }

  .menu__link {
    transition: all 0.2s ease;
  }

  .menu__link:active {
    text-shadow: 2px 2px 3px rgba(255,255, 255, 0.8);
  }

  .icon {
    display: block;
  }

  .intro__content {
    font-size: calc(24px + (40 + 40 * 0.7) * ((100vw - 320px) / 1440));
}

  .intro__text,  {
     font-size: calc(14px + (10 + 10 * 0.7) * ((100vw  - 320px) / 1440));
  }

  .search {
    top: -90px;
}

.search__tabs {
  gap: 10px;
  padding: 10px;
}

.search__tab {
  font-size: 16px;
  padding: 10px 20px 10px;
}

.search__tab-img {
  width: 22px;
  height: 22px;
}

.search__block {
  gap: 20px;
  padding: 30px 25px 25px;
  margin: 0;
}

.filter {
  padding: 20px 25px;
}

.filter__item {
  flex: 1 1 33%;
  gap: 6px;
}

.offers__title {
  margin: 0 0 25px;
}

.offers__cards {
  max-width: 500px;
}

.title {
  font-size: calc(22px + (26 + 26 * 0.7) * ((100vw - 320px) / 1440));
}

.tour {
  flex: 0 1 100%;
}

.tour__start-date {
  font-size: 14px;
}

.tour__name-link {
  font-size: 20px;
}

.tour__price-value {
  font-size: 20px;
}
.price__count-person {
  font-size: 14px;
} 

.tour__button {
  font-size: 16px;
}

.destination__title {
  margin: 0 0 30px;
}

.destination__topics {
  margin: 0 0 35px;
  justify-content: stretch;
  gap: 15px;
}

.destination__cards {
  margin: 0 0 50px;
}

.place {
 flex: 0 1 calc((100% - 20px)/2);
}

.place__rating {
  padding: 3px 10px;
  font-size: 14px;

  top: 15px;
  right: 15px;
}

.place__rating-numbers::before{
  
  width: 17px;
  height: 17px;
  background: url('../img/png/Star.png') center/ 17px no-repeat;
}
  
}

@media (max-width: 550px) {

  .intro__content {
    padding: 4.9em 0 170px;
  }

  .search__block {
    padding: 20px;
    border-radius: 0 15px 20px 20px;
  }

  .search__filters{
    flex: 1 1 100%;
  }
  .filter {
    flex: 1 0 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
    position: relative;
  }

  .filter::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(172, 172, 172, 0.5);

  }

  .filter__item {
     width: 100%;
  }

  .filter__subtopic {
  font-size: 14px;
}

.filter__value {
  width: 100%;
}

.filter__input {
  font-size: 18px;
}

.filter__img {
  display: none;
}

.search__btn {
  width: 50px;
  height: 50px;
  background-size: 26px 30px;
}


.filter-date__subtopic {
  padding: 0 30px 0 0;
}
.filter-date__subtopic::after {
  width: 20px;
  height: 18px;
}

.destination__cards {
  max-width: 350px;
  margin: 0 auto 40px;
}

.place {
   flex: 0 1 100%;
   padding: 15px 10px;
}
}
